@import url(./reset.css);
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: ;
  text-align: center;
}

#page-topper {
  text-align: center;
  font-size: 50px;
  min-width: 0;
  margin: 0 auto;
  border: 1px solid green;
}

#player-or-bot {
  border: 1px solid pink;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
} 

.player-selector {
  width: 5em;
  height: 1em;
  font-size: 20px;
  border-radius: 15%;
  padding: 10px;
  border: 1px solid black;
}

#game-and-score-container {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.score-container {
  border: 1px solid green;
}

#game-board {
  border: 1px solid blue;
  width: 300px;
  min-width: 200px;
  height: 300px;
  min-height: 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.game-square {
  background-color: blue;
} 
