@import url(./reset.css);
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: ;
  text-align: center;
}

#container {
  width: 900px;
  min-width: none;
  height: auto;
  margin: 0 auto;
}

#page-topper {
  text-align: center;
  font-size: 30px;
  min-width: 0;
  margin: 0 auto;
}

#player-or-AI {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
} 

.player-or-AI-selector {
  width: 5em;
  height: .5em;
  line-height: 10px;
  font-size: 30px;
  border-radius: 15%;
  padding: 10px;
  border: 2px solid blue;
}

#player-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-size: 30px;
  text-decoration: underline;
}

#game-and-score-container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.score-container {
  font-size: 60px;
  min-width: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#game-board {
  min-width: 500px;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.game-square {
  background-color: blue;
} 
